:root {
    --main-blue: #2590F4;
    --primary-white: #ffff;
    --primary-opacity: #ffffff6b;
    --shadow-color: #5858584f;
    --text: #000;
    --text-white: #ffff;
    --border-radius: 45px;

    --content-width: 1600px;

    --font-h1: 80px;
    --font-h2: 68px;
    --font-h3: 48px;
    --font-h4: 24px;
    --font-p: 28px;
}
@media screen and (max-width: 1620px){
    :root {
        --content-width: 1400px;
        --font-h1: 85px;
        --font-h2: 62px;
        --font-h3: 48px;
        --font-h4: 24px;
        --font-p: 28px;
    }
}
@media screen and (max-width: 1400px){
    :root {
        --content-width: 1200px;
        --font-h1: 70px;
        --font-h2: 58px;
        --font-h3: 24px;
        --font-h4: 18px;
        --font-p: 20px;
    }
}
@media screen and (max-width: 1200px){
    :root {
        --content-width: 900px;
        --font-h1: 70px;
        --font-h2: 58px;
        --font-h3: 24px;
        --font-h4: 18px;
        --font-p: 20px;
    }
}
@media screen and (max-width: 900px){
    :root {
        --content-width: 100%;
        --font-h1: 70px;
        --font-h2: 58px;
        --font-h3: 24px;
        --font-h4: 18px;
        --font-p: 20px;
    }
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    min-height: 100%;
    overflow-x: hidden;
}
custom-header {
    z-index: 5;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 45px 45px;
    box-shadow: 0 0 10px 0 var(--shadow-color);
    padding: 10px 20px 10px 20px;
    height: 25px;
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
    width: var(--content-width);
    height: 100px;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(6px);
    transition: top 0.5s ease-in-out, width 0.5s ease-in-out, padding 0.5s ease-in-out;
}
custom-header ul {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    margin: 0 20px;
    width: 100%;
}
custom-header ul a {
    text-decoration: none;
    color: var(--text);
    font-size: 24px;
    font-weight: 700;
    transition: 0.5s;
    white-space: nowrap;
}
custom-header img {
    display: flex;
    width: 140px;
    height: 80px;
}
#home-2 {
    display: none;
}
/**header responzivita **/
@media screen and (max-width: 900px) {
    custom-header {
        width: 100%;
    }
    .home {
        display: none;
    }
}




a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--text);
}
.a-active {
    color: var(--main-blue);
}
a::after {
    content: "";
    display: block;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    background: var(--main-blue);
    transition: transform 0.3s;
    margin-top: 1px;
}
a:hover::after {
    transform: scaleX(1);
}
.profile {
    font-size: 18px;
    font-weight: 600;
    padding: 0 15px;
    cursor: pointer;
    width: fit-content;
    height: 45px;
    border-radius: 25px;
    background-color: var(--primary-white);
    box-shadow: 0 0 5px 0 var(--shadow-color);
    color: var(--text);
}
.profile:hover {
    color: var(--text-white);
    background-color: var(--main-blue);
    box-shadow: 0 0 10px 0 var(--main-blue);
    transition: all 0.3s ease-in-out;
}
.home {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    font-weight: 900;
    width: 140px;
}
.home::after {
    display: none;
}

.header-scroll {
    position: sticky;
    top: -60px;
    width: 50%;
    padding-bottom: 50px;
}

/*  responzivita header */
@media screen {
    
}

/* main */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    gap: 200px;
}
button {
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: var(--primary-white);
    box-shadow: 0 0 10px 0 var(--shadow-color);
    font-size: 20px;
    cursor: pointer;
}
label {
    cursor: pointer;
}
/* account-modal */
@media screen and (max-width: 1800px) {

}

/* text */
h1 {
    font-size: var(--font-h1);
    font-weight: 600;
    text-align: center;
}
h2 {
    font-size: var(--font-h2);
    font-weight: 800;
}
h3 {
    font-size: var(--font-h3);
    font-weight: 700;
    line-height: 52px;
}
h4 {
    font-size: var(--font-h4);
    font-weight: 500;
    line-height: 35px;
    color: var(--main-blue);
}
p {
    font-size: var(--font-p);
    font-weight: 500;
    line-height: 36px;
}
@media screen and (max-width: 1400px) {
    h1 {
        font-size: 60px;
        font-weight: 600;
        text-align: center;
    }
    h2 {
        font-size: 56px;
        font-weight: 800;
    }
    h3 {
        font-size: 28px;
        font-weight: 500;
        line-height: 35px;
    }
    h4 {
        font-size: 24px;
        font-weight: 500;
        line-height: 35px;
        color: var(--main-blue);
    }
    p {
        font-size: 28px;
        font-weight: 500;
        line-height: 36px;
    }

}

@media screen and (max-width: 800px) {

}
/* custom-account */
.none {
    display: none;
}
.form-background {
    z-index: 9;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    transition: backdrop-filter 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Adjust transition duration */
}
.form-background-opened {
    backdrop-filter: blur(6px);
    opacity: 1;
    animation: fadeIn 0.5s;
}
.form-background-closed {
    backdrop-filter: blur(6px);
    opacity: 0;
    animation: fadeOut 0.5s;
}
form {
    z-index: 10;
    opacity: 0;
    top: 0;
    right: 0;
    transform: translateX(100%);
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 350px;
    background-color: var(--primary-white);
    backdrop-filter: blur(4px);
    border-radius: 45px 0 0 45px;
    padding: 10px 50px;
    padding-top: 50px;
    transition: width 1s ease-in-out, height 1s ease-in-out, opacity 0.5s ease, transform 0.5s ease-in-out;
}
.form-opened {
    transform: translateX(0);
    opacity: 1;
}
.form-closed {
    transform: translateX(100%);
    opacity: 0;
}

input {
    box-sizing: border-box;
    border-radius: 10px;
    height: 35px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    box-shadow: 0 0 10px 0 var(--shadow-color);
    padding: 10px;
}
.input-line {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.input-line input{
    width: 100%;
    
}
.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px 0;
    width: 100%;
}
form button {
    width: 100%;
    border-radius: 5px;
    height: 40px;
    border-radius: 10px;
}
form button:hover {
    background-color: var(--main-blue);
    color: var(--text-white);
    box-shadow: 0 0 10px 0 var(--main-blue);
    transition: background-color 0.3s ease-in-out;
}
form a {
    font-size: 18px;
    color: var(--main-blue);
    cursor: pointer;
}
.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
form p {
    position: relative;
    display: flex;
    gap: 5px;
    bottom: 0;
    right: 0px;
    font-size: 18px;
}
form h2 {
    text-align: center;
    font-size: 38px;
}
.close-window {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 25px;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 1px var(--text);
    cursor: pointer;
    margin-right: 100%;
}
.close-window:hover {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}
i {
    font-size: 18px;
}
.form-login {
    transition: opacity 0.5s ease;
}
.form-register {
    transition: opacity 0.5s ease;
}

/* custom-footer */
custom-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    box-shadow: 0 0 10px 0 var(--shadow-color);
    border-radius: 45px 45px 0 0;
    width: var(--content-width);
    height: 15%;
    padding: 20px 0 20px 0;
    bottom: 0;
    margin-top: 200px;
}

custom-footer .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
custom-footer .row ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.a-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 250px;
}
custom-footer > .a-footer > .row > ul > .row-a > li > a {
    padding: 2px 0;
    width: max-content;
}
.copyright {
    color: var(--main-blue);
    font-size: 20px;
}

/* footer reponzivita */
@media screen and (max-width: 1400px) {
    .a-footer {
        gap: 100px;
    }
}

@media screen and (max-width: 900px) {
    custom-footer {
        width: 100%;
    }
    .a-footer {
        gap: 100px;
    }
}
/* header responzivita */
@media screen and (max-width: 1400px) {
    custom-header {
        backdrop-filter: blur(2px);
    }
}
@media screen and (max-width: 900px) {
    custom-header {
        width: 100%;
    }
}
@media screen and (max-width: 700px) {
    .a-footer {
        gap: 50px;
    }
}
@media screen and (max-width: 600px) {
    .a-footer {
        flex-direction: column;
    }
    #home-2 {
        display: block;
    }
}
@media screen and (max-width: 610px) {
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    custom-header {
        flex-direction: column;
        width: 100%;
        height: fit-content;
        gap: 20px;
        padding-bottom: 20px;
        backdrop-filter: blur(1px);
    }
    custom-header ul {
        flex-direction: column;
        gap: 20px;
    }
    .home {
        display: none;
    }
    .header-scroll {
        top: -250px;
        width: 50%;
        padding-bottom: 50px;
    }
}

/* animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}