main {
    width: 100%;
}

/* info lines */
.info-line-1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: var(--content-width);
    height: 600px;
    background-image: url(./../img/eva-main.png);
    background-repeat: no-repeat;
    background-size: 140%;
    background-position: -100px -20px;
    border-radius: var(--border-radius);
    box-shadow: 0 0 15px 0 var(--shadow-color);
}
.info-line-1-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 50px;
    gap: 80px;
}
.info-line-2 {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    transition: 1s;
    width: auto;
}
.info-box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    height: 350px;
    width: 350px;
    padding: 25px;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px 0 var(--shadow-color);
    background-color: var(--main-blue);
    color: var(--text-white);
}
.info-line-3 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: var(--content-width);
    height: 800px;
    box-shadow: 0 0 10px 0 var(--shadow-color);
    border-radius: var(--border-radius);
    overflow: hidden;
    background-image: url(./../img/eva-pc.png);
    background-repeat: no-repeat;
    background-position-x: -50px;
    background-position-y: 160px;
    background-size: 80%;
}
.info-line-3-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 50px;
    padding: 50px;
    width: 45%;
}
.info-line-4{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    transition: 1s;
    width: var(--content-width);
    height: 600px;
}
.info-line-4-L-box{
    box-sizing: border-box;
    padding: 50px;
    width: 550px;
    height: 550px;
    box-shadow: 0 0 10px 0 var(--shadow-color);
    border-radius: var(--border-radius);
    background-color: var(--main-blue);
    color: var(--text-white);
}
.info-line-4-S-box-container {
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.info-line-4-S-box{
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    padding: 40px;
    width: 600px;
    height: 255px;
    box-shadow: 0 0 10px 0 var(--shadow-color);
    border-radius: var(--border-radius);
}
.s-box-eva-button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 65%;
    color: var(--text);

}
.eva-button {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
    font-size: 18px;
    font-weight: 700;
    width: 150px;
    height: 50px;
    background-color: var(--primary-white);
    box-shadow: 0 0 10px 0 var(--shadow-color);
    border-radius: var(--border-radius);
}
.eva-button:hover {
    color: var(--text-white);
    background-color: var(--main-blue);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px 0 var(--main-blue);
}
.eva-button::after {
    display: none;
}
.img-eva-custom {
    position: absolute;
    height: 800px;
    z-index: 1;
    top: 80px;
    left: -380px;
}

.info-line-5 {
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: var(--content-width);
    margin-top: 100px;
}
.info-line-5-content {
    height: max-content;
    background-color: var(--primary-white);
    box-sizing: border-box;
    padding: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px 0 var(--shadow-color);
}
.info-line-5-content ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    list-style: disc;
    margin-left: 100px;
    font-size: 24px;
}
li::marker {
    color: var(--main-blue);
}
.img-app {
    height: 600px;
    rotate: -20deg;
    filter: drop-shadow(-40px 40px 20px var(--shadow-color));
}
.app-button-2 {
    display: none;
}
.eva-app-download {
    width: max-content;
    box-sizing: border-box;
    padding: 15px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 var(--shadow-color);
    font-size: 18px;
    font-weight: 700;
}
.download-button-phone {
    position: relative;
    bottom: 20%;
    left: 45%;
    display: flex;
    text-align: center;
    justify-content: flex-end;
    height: max-content;
    rotate: -20deg;

}
.eva-app-download::after {
    display: none;
}
.eva-app-download:hover {
    color: var(--text-white);
    background-color: var(--main-blue);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px 0 var(--main-blue);
}
#home-2 {
    color: var(--main-blue);
}


/* media rules */
@media screen and (max-width: 1620px){
    .img-eva-custom {
        height: 650px;
        top: 180px;
        left: -300px;
    }
    .info-line-3 {
        background-position: 0 110%;
    }
    .info-line-5-content {
        width: 70%;
    }
    .img-app {
        rotate: 0deg;
    }
    .download-button-phone {
        rotate: 0deg;
        bottom: 18%;
        left: 26%;
    }
}

@media screen and (max-width: 1400px) {
    .info-line-1 {
        background-position-x: 0px;
    }
    .info-line-2 {
        gap: 50px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .info-line-3 {
        height: 700px;
        background-size: 80%;
        background-position-x: 0px;
        background-position-y: 100%;
        align-items: self-start;
    }
    .info-line-3-content {
        width: 90%;
    }
    .info-line-3 p{
        width: 350px;
        margin-left: 80%;
    }

    .info-line-4 {
        height: 800px;
    }
    .info-line-4-L-box {
        width: 550px;
        height: 550px;
    }
    .info-line-4-S-box {
        width: 500px;
        height: 255px;
    }
    .img-eva-custom {
        height: 700px;
        top: 250px;
        left: -300px;
    }
    .info-line-5-content {
        width: 70%;
    }
    .download-button-phone {
        bottom: 18%;
        left: 25%;

    }

}
@media screen and (max-width: 1200px){
    .info-line-1 {
        background-position-x: 50px;
        background-position-y: 160px;
    }
    .info-line-1-content {
        width: 60%;
    }
    .info-line-3 {
        background-position: 0 110%;
    }
    .info-line-3-content {
        width: 80%;
    }
    .info-line-4 {
        gap: 40px;
    }
    .info-line-4-S-box {
        width: 350px;
        height: 255px;
    }
    .info-line-5 {
        margin-top: 0;
    }
    .img-app-download {
        display: none;
    }
    .info-line-5-content {
        width: var(--content-width);
    }
    .img-eva-custom {
        top: 40%;
        left: -250px;
        height: 550px;
    }
    .img-app {
        display: none;
    }
    .app-button {
        display: none;
        
    }
    .app-button-2 {
        display: block;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 20px;
    }
}
@media screen and (max-width: 900px) {
    .info-line-1 {
        background-position-x: -30%;
        background-position-y: -100%;
        height: 500px;
    }
    .info-line-1-content {
        width: 70%;
        height: max-content;
    }
    .info-line-2 {
        gap: 50px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .info-line-3 {
        height: 650px;
        background-size: 80%;
        background-position-x: -50px;
        background-position-y: 125%;
        align-items: self-start;
    }
    .info-line-3-content {
        width: 80%;
    }
    .info-line-3 p{
        width: 350px;
        margin-left: 80%;
    }

    .info-line-4 {
        flex-direction: column;
        height: 800px;
    }
    .info-line-4-L-box {
        height: 550px;
    }
    .info-line-4-S-box {
        width: var(--content-width);
    }
    .img-eva-custom {
        display: none;
    }
    .info-line-5-content {
        width: 100%;
    }
    
}
@media screen and (max-width: 800px) {
    .info-line-1 {
        background-image: none;
        height: max-content;
    }
    .info-line-1-content {
        width: 100%;
        height: max-content;
    }
    .info-line-2 {
        gap: 50px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .info-line-3 {
        height: 780px;
        background-size: 120%;
        background-position-x: 0%;
        background-position-y: 120%;
    }
    .info-line-3-content {
        display: flex;
        text-align: center;
        width: 100%;
    }
    .info-line-3 h2{
        width: fit-content;
    }
    .info-line-3 p{
        width: fit-content;
        margin-left: 0;
    }

    .info-line-4 {
        flex-direction: column;
        height: 800px;
    }
    .info-line-4-L-box {
        height: 550px;
    }
    .info-line-4-S-box {
        width: var(--content-width);
    }
    .info-line-5-content {
        width: 100%;
    }
    .download-button-phone {
        bottom: 18%;
        left: 25%;
    }
}
@media screen and (max-width: 600px) {
    .info-box {
        width: 100%;
        min-height: 200px;
        height: fit-content;
    }
    .info-line-3 {
        height: 850px;
        background-size: 180%;
        background-position-x: 15%;
        background-position-y: 110%;
    }
    .info-line-4 {
        height: 1000px;
    }
    .info-line-4-L-box {
        width: 100%;
        height: 620px;
        background-image: url(./../img/eva-white-display.png);
        background-size: 150%;
        background-position: 50% 100%;
        background-repeat: no-repeat;
    }
    .info-line-4-S-box {
        width: 100%;
        height: max-content;
    }
    .s-box-eva-button {
        margin-top: 20px;
    }
    .info-line-5-content {
        width: 100%;
    }
    .info-line-5-content ul {
        margin-left: 0;
        font-size: 24px;
    }
    .download-button-phone {
        bottom: 18%;
        left: 25%;
    }
}
@media screen and (max-width: 430px) {
    .info-line-4-L-box {
        width: 100%;
        height: 600px;
        background-image: url(./../img/eva-white-display.png);
        background-size: 200%;
        background-position: 50% 110%;
        background-repeat: no-repeat;
    }
    
}